.photographer_header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem 4rem;
  background-color: var(--lightgrey);
  height: 300px;
  margin: 2rem 100px 1rem 100px;
}

.photographer_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photographer_infos .photographer_name {
  color: var(--lightred);
  font-size: 4rem;
  margin: 0;
}

.photographer_infos .photographer_location {
  margin-top: 1rem;
}

.photographer_infos .photographer_tagline {
  color: var(--darkgrey);
  margin: 0.2rem 0;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

.photographer_img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 200px;
  margin-right: 2rem;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  margin-right: 20px;
  width: 170px;
  height: 70px;
  border: 2px solid white;
  background-color: var(--darkred);
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.contact_button:focus-visible {
  outline: 2px solid var(--darkred);
}

.medias_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 50px 100px 75px 100px;
  align-content: center;
}

.media_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-self: center;
  max-width: 350px;
}

.media_lightbox {
  cursor: pointer;
}

.media_lightbox:focus-visible {
  outline: 2px solid var(--darkred);
}

.media_item {
  width: 350px;
  height: 350px;
  object-position: center;
  object-fit: cover;
  border-radius: 8px;
}

.media_infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6rem;
}

.media_title {
  color: var(--darkred);
  margin: 0px;
}

.media_likes {
  display: flex;
  cursor: pointer;
}

.media_likes .heart {
  color: black;
  width: 20px;
  height: 20px;
}

.media_count {
  color: var(--darkred);
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.liked_count {
  font-weight: bold;
}

.liked_heart {
  animation: likes 0.5s ease-out 2 forwards;
}

.heart.liked_heart {
  color: var(--darkred);
}

.photographer_metrics {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  bottom: -8px;
  right: 105px;
  background: var(--lightred);
  border-radius: 8px;
  padding: 0 1rem;
}

.photographer_metrics span {
  margin-left: 0.2rem;
}

.photographer_metrics .price {
  margin-left: 0.6rem;
}

@keyframes likes {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
